*{
    margin: 0;
    padding: 0;   
}
:root{
    --light-blue: #C9E1E6;
    --blue:#8BBCBC;
    --gold:#B59323;
    --white:#FCFCFC;
    --grey:#524B4B;
}

img{
    width: 200px;
    height: 150px;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
}

h1{
    font-size: 100px;
}

h2{
    font-size: 80px;

}

h3{
    font-size: 50px;
}

.Feb h2{

}

.Feb section,.Apr,.Mar{
    display: flex;
}

.Feb div,
.Apr div{
   background-color: var(--blue); 
   margin: 1px;
}

.Mar div{
    background-color: var(--light-blue);
    margin: 1px;
}
