@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');


/*FÆLLES*/ 
*{margin: 0;}




:root {
    --light-blue: #C9E1E6;
    --blue: #8BBCBC;
    --gold: #B59323;
    --white: #FCFCFC;
    --grey: #524B4B;
    --black: #272526;
}


h1 {
    font-family: 'Fredericka the Great';
    font-size: 70px;
    font-weight: 100;
    color: var(--grey);
    text-align: center;
    color: var(--grey);
}



/*Sektion 1 - blogintro*/

.blog-intro {
    background-color: var(--blue);
    margin: 20px;
    padding: 30px;
}


h2 {
    font-family: 'El messiri';
    text-align: center;
    font-size: 40px;
    color: var(--black);
    margin: 0;
}

p {
    font-family: 'assistant';
    font-weight: 100;
    font-size: 20px;
    line-height: 1.5em;
    color: var(--black);
    padding-left: 30px;
    padding-right: 30px;
}

/*Sektion to - blogposts*/

.blog-header {
    font-family: 'El messiri';
    font-size: 25px;
    padding-top: 40px;
    text-align: center;
    margin-top: 10px;
}

.blog-img,
img {
    width: 400px;
    height: 250px;
}

.person {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}


.heart-btn img {
    width: 20px;
    height: 20px;
    display: block;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.date {
    font-family: 'assistant';
    color: var(--grey);
    font-size: 12px;
    text-align: start;
    margin-left: 80px;
    margin-top: 40px;
    display: flex;
    margin-bottom: -20px;
}


.blog-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center;
}


.blog-cards {
    width: 400px;
    background: var(--white);
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    min-height: 200px;
    margin: 20px
}

.btn {
    display: block;
    background: var(--blue);
    font-family: 'el messiri';
    color: var(--black);
    text-decoration: none;
    padding: 8px 15px;
    text-align: center;
    border-radius: 10px;
    max-width: 100px;
    margin: 25px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* FORSIDE */

.om-os {
    background-color: var(--blue);
}


.om-os h2 {
    text-align: center;
    padding-top: 25px;
    font-size: 60px;
    

}

.om-os p{
    padding: 25px;
    font-size: 30px;
}


.ugens-kunstner img {
width: 500px;
height: auto;
float: left;

}

.ugens-kunstner p{
    padding: 10px;
    font-size: 30px;
}


.plan{
   background-color: var(--light-blue);

}

.plan h2{
    font-size: 45px;
    text-align: center;
}

.plan p{
    font-size: 30px;
}

.plan img{
    align-items: right;
    width: 500px;
    height: auto;
    float: right;
    padding: 10px;
}





/*styling af artwork side*/
body{
    background-color: var(--white);
}


.artworks_sketches {
    text-align: center;
    font-family: 'El messiri';
    color: var(--black);
    background-color: var(--blue);
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.tegne{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

.linie1art img{ 
    padding: 15px;
    width: 422px;
    height: 400px;
    
}

.artworks_cartoon {
    text-align: center;
    font-family: 'El messiri';
    color: var(--black);
    background-color: var(--light-blue);
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
}

/*navigation*/

.navbar img {
    width: 200px;
    height: 150px;
}

.navbar {
    margin-left: 10%;
    margin-right: 10%;
}

.navbar ul {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: var(--grey);
    font-family:'Optima';
    font-size: 24px;
}

.artworks_digital {
    text-align: center;
    font-family: 'El messiri';
    color: var(--black);
    background-color: var(--blue);
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
}

/*program*/

.Feb section,.Apr section{
    display: grid;
    height: 17vh;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-gap:0.5rem;
    margin-left: 10%;
    margin-right: 10%;
}

.Mar section{
    display: grid;
    height: 17vh;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-gap:0.5rem;
    margin-left: 10%;
    margin-right: 10%;
}

.Feb div,.Apr div{
    background-color: var(--blue)
}
.Mar div{
    background-color: var(--light-blue);
}
.Feb div p{
    font-size: 22px;
}

.line{
    width: 100%;
    height: 45px;
    position: relative;
}

.line::after,.line::before{
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background: var(--gold);
    width: 45%;
    top: 45%;
}

.lm{
    margin-bottom: 20px;
}
.line::after{
    left:0
    
}

.line::before{
    right: 0;
}

.måned{
    margin-top: 80px;
}

.BEAI p{
margin-left: 25%;
margin-right: 25%;
font-family: 'Assistant';
}

.BEAI h3{
    font-family: 'El messiri';
    text-align: center;
    font-size: 40px;
}

.følg div{
    display: flex;
    justify-content: center;
}
.følg img{
    height: 25px;
    width: 25px;
    margin-bottom: 80px;
}
.følg h2{
    font-family: 'Fredericka the Great';
    font-weight: 100;
    margin-bottom: 10px;
}

hr {
    border-color:var(--gold) ;
    outline: none;
}

footer div{
display: flex;
justify-content: space-between;
}

footer div p{
color: var(--gold);
font-family: 'MinervaModern';
}
