@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');



:root{
    --light-blue: #C9E1E6;
    --blue:#8BBCBC;
    --gold:#B59323;
    --white:#FCFCFC;
    --grey:#524B4B;
    --black:#272526;
}

/*Sektion 1 - blogintro*/

.blog-intro {
    background-color: var(--blue);
    margin: 20px;
    padding:30px;
}


h1 {
    font-family: 'Fredericka the Great';
    font-size: 70px;
    font-weight: 100;
    color: var(--grey);
    text-align: center;
    color: var(--grey);
}

h2 {
    font-family: 'El messiri';
    text-align: center;
    font-size: 40px;
    color: var(--black);
    margin: 0;
}

p{
    font-family: 'assistant';
    font-weight: 100;
    font-size: 20px;
    line-height: 1.5em;
    color: var(--black);
    padding-left: 30px;
    padding-right: 30px;
}

/*Sektion to - blogposts*/

.blog-header {
    font-family: 'El messiri';
    font-size: 20px;
}

.blog-img, img {
    width: 350px;
    height: 200px;
}

.blog-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin: 20px;
    margin-top: 20px;
    justify-content: flex-start;
}


.blog-cards {
    width: 350px;
    background: var(--body);
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-bottom: 70px;
}



h1{
color: var(--grey);
text-align: center;
font-family:'Fredericka the Great', cursive;
}

p{
color: var(--grey);
}


/* FORSIDE */

.om-os{
    background-color: var(--blue);
}

.om-os h2{
    text-align: center;

}

.ugens-kunstner{
    
}


.plan{
   background-color: var(--light-blue); 
}

.plan img{
    display: float;
}