:root{
    --light-blue: #C9E1E6;
    --blue:#8BBCBC;
    --gold:#B59323;
    --white:#FCFCFC;
    --grey:#524B4B;
}

.navbar img{
    width: 200px;
    height: 150px;
}
.navbar{
    margin-left: 10%;
    margin-right: 10%;
}

.navbar ul {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
}
