

:root{
    --light-blue: #C9E1E6;
    --blue:#8BBCBC;
    --gold:#B59323;
    --white:#FCFCFC;
    --grey:#524B4B;
}

/*styling af artwork side*/
body{
    background-color: var(--white);
}

h1{
    text-align: center;
    color: var(--grey);
}

.artworks_sketches{
    text-align: center;
    color: var(--grey);
    background-color: var(--blue);
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.artworks_cartoon{
    text-align: center;
    color: var(--grey);
    background-color: var(--light-blue);
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.artworks_digital{
    text-align: center;
    color: var(--grey);
    background-color: var(--blue);
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
}